extends layout

block content
  #main
    h1=title
    if admin
      p admin
      button(id="new_user") New User
    else
      p customer
    button(id="logout") Log Out

    script(src='/js/customer.js');