extends layout

block head
  link(rel='stylesheet', href='/stylesheets/customer_page.css')

block content
  #mainContainer
    #hudContainer
      if admin
        p
          | Welcome, #{username} <strong>(Admin)</strong>
      else
        p
          | Welcome, #{username}

      button(id="logout") Log Out
    #contentContainer
      #content
        button(id="filter") Filter
        #bookShelf
          p
            | This is where all the books go!
      if admin
        .hiddenForm#new_customer_form(style="display: none")
          .inputLines
            label(for="username") Username:
            input(type="text", id="username")
          .inputLines
            label(for="password") Password:
            input(type="text", id="password")
          button(id="submit_new_customer" class="formButtons") Sumbit New Customer
          button(class="cancel formButtons") Cancel
      #options
        #optionsLabel
          | Options
        if admin
          button(id="new_book" class="optionButtons") Add New Book
          button(id="new_customer" class="optionButtons") Add New Customer

  script(src='/js/customer.js');