extends layout

block head
  link(rel='stylesheet', href='/stylesheets/customer_page.css')

block content
  script.
   adminBoolean = #{admin};
  #mainContainer
    #hudContainer
      if admin
        p
          | Welcome, #{username} <strong>(Admin)</strong>
      else
        p
          | Welcome, #{username}

      button(id="logout") Log Out
    #contentContainer
      #content
        button(id="filter") Filter
        #bookShelf
          p
            | This is where all the books go!
      if admin
        .hiddenForm#new_customer_form(style="display: none;")
          .inputLines
            label(for="username" class="inputLineLabels") Username:
            input(type="text", id="username", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="password" class="inputLineLabels") Password:
            input(type="text", id="password", style="display: inline-block;", class="formTextbox")
          button(id="submit_new_customer" class="optionButtons hiddenFormButtons") Sumbit New Customer
          button(class="optionButtons hiddenFormButtons cancel") Cancel
        .hiddenForm#new_book_form(style="display: none;")
          .inputLines
            label(for="isbn" class="inputLineLabels") ISBN:
            input(type="text", id="isbn", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="title" class="inputLineLabels") Title:
            input(type="text", id="title", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="author" class="inputLineLabels") Author:
            input(type="text", id="author", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="description" class="inputLineLabels") Description:
            textarea(id="description", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="genre" class="inputLineLabels") Genre:
            input(type="text", id="genre", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="copies" class="inputLineLabels") Copies:
            input(type="text", id="copies", style="display: inline-block;", class="formTextbox")
          button(id="submit_new_book" class="optionButtons hiddenFormButtons") Sumbit New Book
          button(class="optionButtons hiddenFormButtons cancel") Cancel
      #options
        #optionsLabel
          | Options
        if admin
          button(id="new_book" class="optionButtons") Add New Book
          button(id="new_customer" class="optionButtons") Add New Customer

  script(src='/js/customer.js');