extends layout

block head
  link(rel='stylesheet', href='/stylesheets/login_page.css')

block content
  #main
    h1=title
    label(id="update_label")

    #user
      label Username:
      input(type="textbox", id="username")
    #pass
      label Password:
      input(type="textbox", id="password")

    button(id="login") Log In

    script(src="/js/login_page.js")
