extends layout

block head
  link(rel='stylesheet', href='/stylesheets/login_page.css')
  link(rel='stylesheet', href='/stylesheets/inputs.css')

block content
  #container
    img(id="logo", src="/images/logo.png")
    label(id="update_label")

    .inputLines
      label.inputLineLabels(for="username") Username:
      input(type="text", id="username", class="formTextbox")
    .inputLines
      label.inputLineLabels(for="password") Password:
      input(type="password", id="password", class="formTextbox")

    button(id="login", class="loginButton") Log In

    script(src="/js/login_page.js")
