extends layout

block content
  h1 Library Management System

  #username
    label Username: 
    input(type="textbox")
  #password
    label Password: 
    input(type="textbox")

  button(id="login") Log In

  script(src="http://code.jquery.com/jquery-latest.min.js")
