extends layout

block head
  link(rel='stylesheet', href='/stylesheets/login_page.css')

block content
  #container
    img(src="/images/logo.png")
    label(id="update_label")

    .inputLines
      label(for="username") Username:
      input(type="text", id="username")
    .inputLines
      label(for="password") Password:
      input(type="password", id="password")

    button(id="login", class="loginButton") Log In

    script(src="/js/login_page.js")
