body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #B5B5B5;
}

a {
  color: #00B7FF;
}

#footer {
  height: 50px;   /* Height of the footer */
  font-size: 14px;
  text-align: center;
}